* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(0, 1, 52, 0.312);
  position: relative;
  min-height: 100vh;
}

#logo {
  cursor: pointer;
  position: absolute;
}

.MuiPagination-ul {
  justify-content: flex-end;
}